{% extends 'base.html.twig' %}
<footer>
    <div class="footer">
        <form>
            <label>
                <input type="text" placeholder="Поиск" />
            </label>
            <button type="submit">Искать</button>
        </form>
        <p>Администратор Иванов Иван Иванович +8-812-222-22-22</p>
        <p>Руководитель Петров Петр Петрович +8-812-333-33-33</p>
    </div>

</footer>
