{% extends 'base.html.twig' %}
<header>
    <div class="header">
        <nav>
            <a href="#">Книги</a>
            <a href="#">Читатели</a>
            <a href="#">Выданные книги</a>
        </nav>
        <form>
            <label>
                <input type="text" placeholder="Поиск"/>
            </label>
            <button type="submit">Искать</button>
        </form>
    </div>

</header>