{% extends 'base.html.twig' %}

{% block title %}Библиотека книг{% endblock %}

{% block body %}
    <h2>наименование</h2>
    <ul>
        {%   %}
    </ul>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/PHP/Libra/src/Controller/BookController.php'|file_link(0) }}">src/Controller/BookController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/PHP/Libra/templates/book/index.html.twig'|file_link(0) }}">templates/book/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
